$themeColor = #555
$backgroundColor = #FFFD

$card
    overflow hidden
    box-shadow 0 3px 1px -2px #0003, 0 2px 2px 0px #0002, 0 1px 5px 0px #0002
    transition box-shadow .15s ease-out

$card-hover
    &:hover
        box-shadow 0 5px 5px -3px #0003, 0 8px 10px 1px #0002, 0 3px 14px 2px #0002
